.popup {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup__button {
  margin-top: clamp(46px, 10vw, 48px);
  padding: 13.66px 0 18.49px;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
  width: 100%;
}

.popup__button_disabled {
  color: #000;
  opacity: 0.5;
  background-color: transparent;
  border-color: #000;
  cursor: not-allowed;
  pointer-events: none;
}

.popup__close {
  position: absolute;
  top: -28px;
  right: -33px;
  max-width: 40px;
  max-height: 40px;
  background: transparent;
  border: none;
  font-size: 28px;
  cursor: pointer;
  z-index: 20;
}

.popup__close img {
  width: 100%;
  max-width: 75vw;
  height: auto;
  max-height: 75vh;
  object-fit: cover;
  border-radius: 8px;
}

.popup__content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: clamp(25px, 10vw, 34px) clamp(22px, 10vw, 36px);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 430px;
  max-height: 330px;
  color: #000;
}

.popup__content input {
  display: block;
  width: 100%;
  padding-bottom: clamp(9px, 4vw, 13.5px);
  border: 1px solid transparent;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  box-sizing: border-box;
  transition: border 0.3s ease;
}

.input1-error {
  min-height: 20px;
  visibility: hidden;
}

.input1-error.popup__error_visible {
  visibility: visible;
}

#input2 {
  margin-top: clamp(29.74px, 15vw, 30px);
}

.input2-error {
  min-height: 20px;
  visibility: hidden;
}

.input2-error.popup__error_visible {
  visibility: visible;
}

.popup__content input:focus {
  border: 1px solid blue;
  outline: none;
  box-shadow: 0 0 5px 2px rgba(0, 0, 255, 0.3);
}
#popup-title {
  display: flex;
  margin: 0;
  justify-content: left;
  align-items: center;
  max-width: 330px;
  max-height: 23px;
  font-size: clamp(18px, 5vw, 24px);
}

.popup__header {
  margin-bottom: 54px;
}

.popup--show {
  display: block;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 320px) and (max-width: 400px) {
  .popup {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .popup__button {
    margin-top: auto;
    padding: 14px 0 15px;
  }

  .popup__close {
    position: absolute;
    top: -35px;
    right: -8px;
    min-width: 40px;
    max-height: 40px;
    background: transparent;
    border: none;
    font-size: 28px;
    cursor: pointer;
    z-index: 20;
  }

  .popup__content {
    max-width: 282px;
    max-height: 322px;
    padding: 25px 22px;
    box-sizing: border-box;
  }

  .popup__header {
    margin-bottom: 76px;
    line-height: 100%;
  }

  #popup-title {
    font-size: 18px;
    min-width: 238px;
    min-height: 22px;
  }

  .popup__content input {
    padding-bottom: 9px;
  }

  #input2 {
    margin-top: auto;
  }
}

@media screen and (max-width: 664px) {
  .popup {
    align-items: center;
    justify-content: center;
  }

  .popup__button {
    margin-top: auto;
  }

  .popup__content {
    max-width: 282px;
    max-height: 322px;
  }
}
