@import url("/web_project_around_es/vendor/normalize.css");
@import url("/web_project_around_es/blocks/page.css");
@import url("/web_project_around_es/blocks/header.css");
@import url("/web_project_around_es/blocks/profile.css");
@import url("/web_project_around_es/blocks/elements.css");
@import url("/web_project_around_es/blocks/cards.css");
@import url("/web_project_around_es/blocks/group.css");
@import url("/web_project_around_es/blocks/footer.css");
@import url("/web_project_around_es/blocks/popup.css");
@import url("/web_project_around_es/blocks/form.css");
@import url("/web_project_around_es/blocks/image-popup.css");
