.image-popup {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.image-popup__overlay {
  position: absolute;
  inset: 0;
  cursor: pointer;
}

.image-popup__content {
  position: relative;
  z-index: 10;
  max-width: 75vw;
  max-height: 75vh;
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 10px;
}

.image-popup__content img {
  width: 100%;
  max-width: 75vw;
  height: auto;
  max-height: 75vh;
  object-fit: cover;
  border-radius: 8px;
}

.image-popup__caption {
  margin-top: 12px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}

.image-popup__close {
  position: absolute;
  top: -19px;
  right: -23px;
  max-width: 40px;
  max-height: 40px;
  background: transparent;
  border: none;
  font-size: 28px;
  color: #000;
  cursor: pointer;
  z-index: 20;
}

.image-popup.popup--show {
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 400px) {
  .image-popup__close {
    top: -15px;
    right: -10px;
    max-width: 30px;
    max-height: 30px;
  }
}
