.profile {
  margin: 0 auto;
  padding: 40px 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 880px;
  color: #f1f1f1;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
  flex-shrink: 0;
}

.profile__imagen {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  transition: 0.3s ease;
}

.profile__info {
  margin-left: 32px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 18px;
  row-gap: 16px;
  max-width: 415px;
}

.profile__name {
  margin: 0;
  max-width: 373px;
  font-weight: 500;
  font-size: clamp(22px, 3.5vw, 42px);
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__acerca-de-mi {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  flex-basis: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__AddButton {
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #f1f1f1;
  margin-left: auto;
}

.profile__EditButton {
  padding: 0;
  width: 24px;
  height: 24px;
  object-fit: cover;
  background-color: transparent;
  border: 1px solid #fff;
}

.profile__EditAvatar{
  padding: 0;
  position: absolute;
  object-fit: cover;
  background-color: transparent;
  border-style: none;
  border: none;
  bottom: 47px;
  right: 47px;
  opacity: 0;
  z-index: 2;
  transition: 0.3s ease;
}

.profile__avatar:hover .profile__EditAvatar{
  opacity: 1;
}

.profile__avatar:hover .profile__imagen{
  opacity: 0.3;
}

.profile__AddButton:hover {
  cursor: pointer;
  opacity: 0.5;
}

.profile__EditButton:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto 36px;
  }

  .profile__info {
    margin: 24px 0;
    justify-content: center;
  }

  .profile__editbutton {
    width: 20px;
    height: 20px;
  }

  .profile__AddButton {
    width: 282px;
    height: 50px;
    margin: 16px auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .profile__info {
    max-width: 282px;
  }

  .profile__editbutton {
    width: 18px;
    height: 18px;
  }

  .profile__name {
    width: 196px;
  }
}

@media screen and (min-width: 1280px) {
  .profile {
    padding-top: 40px;
    margin: 0 auto;
  }

  .profile__info {
    margin-left: 48px;
  }
}
